.paragraph-wrapper {
    background-size: cover; 
    background-position: center; 
    background-color: #808080;
    height: 375px; 
    margin-bottom: 15px;
}
.text-wrapper {
    background: grey;
    opacity: 0.9;
}
.whatsapp-header {
    background: #045E54;
    color: white;
    height: 70px;  
    margin-bottom: 0 !important; 
}
.chatbox-sender {
    background: #E1FFC7;
}
.chatbox-receiver {
    background: white;
}
.whatsapp-box {
    width: 100%; 
    overflow: hidden;
    padding-right: 20px;
    img {
        border-radius: 50%; 
        width: 54px; 
        height: 54px; 
    }
}

.text-area {
    overflow-y: scroll;
    height: 100%; 
}
.choices-wrapper {
    height: 220px; 
    overflow-y: scroll;
    // z-index: -1;
    
    .choices-title {
        text-align: center;
        font-weight: 800;
    }
    .choices {
        border: 1px solid grey;
        border-radius: 10px;
        margin: 5px; 
        padding: 10px;
        &:hover {
            background-color: lightblue;
        }
    }
}
.send-wrapper {
    padding: 10px 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey; 
    border-top: solid grey 0.1px;
    position: absolute;
    bottom: 20px; 
    right: 0; 
    left: 0;
    .send-button {
        border: 1px solid grey;
        border-radius: 15px;
        padding: 3px 80px; 
        color: black;
        &:hover {
            background-color: #045E54;
        }
    }
    .wa-sticker {
        width: 6%;
        height: 6%;
    }
}