// variables

// APP colours

// midnight
$midnight100: #172153; 

// aqua
$aqua10: rgba(236, 250, 251, 1); 
$aqua20: rgba(216, 244, 246, 1); 
$aqua40: rgba(177, 234, 238, 1); 
$aqua80: #64D5DC; 
$aqua100: rgba(61, 202, 211, 1); 

// lapis
$lapis100: #6C70DD; 

// tangerine
$tangerine100: #FC684F; 

// lemongrass
$lemongrass100: #CFEC5A; 

// chicky
$chicky100: #FFE55E; 

// white
$white: white; 
